body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #16222A;  
  background: -webkit-linear-gradient(to left, #3A6073, #16222A); 
  background: linear-gradient(to left, #3A6073, #16222A); */
  background: #235789;
  } 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.edge{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  width:80%;
  height:100%;
  font-size: 60px;
  color:white;
}
img{
  z-index: 2;
}